.content {
  padding: 24px 0;

  .desc {
    .sc(12px, @primary-color);
    margin: 10px 0;
    display: inline-block;
    padding-left: 15px;
  }

  //   分类
  .classifies {
    background: @primary-color-opacity;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px 5px;

    .label {
      flex: 0 1 auto;
      .sc(14px, #000);
      line-height: 32px;
    }

    &>.class-content {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: @border-radius-base;

      button {
        margin: 0 10px;
      }
    }
  }

  //   查询
  .form {
    padding: 15px 0;

    button {
      margin-right: 15px;
    }
  }

  // 小程序列表
  .miniprogram-list {
    button {
      margin: 0 15px 15px 0;
    }
    .lists {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .item {
        flex: 0 0 250px;
        height: 250px;
        padding: 20px;
        border: 1px solid @primary-color-opacity;
        margin-right: 30px;
        cursor: pointer;
        .select {
          text-align: left;
          .checkIcon {
            background: #fff;
            border: 1px solid @primary-color-opacity;
            color: #fff
          }
        }
        &.selected {
          .select {
            .checkIcon {
              background: @primary-color;
              color: #fff
            }
          }
        }
      }
    }
  }
}

.help {
  .sc(14px, @primary-color);
  cursor: pointer;
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}